<div class="d-flex justify-content-center my-5">
    <div class="card card-forgot">
        <div class="card-body text-center" id="cardForgot">
            <img src="/static/img/coder-icon.png" alt="logo" class="my-3" style="width: 17.5rem;">
            <h3 class="card-title text-body-secondary fw-medium mb-4">Forgot Password</h3>
            
            <form id="formForgot">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="loginEmail" placeholder="Email address">
                    <label for="loginEmail">Email address</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark w-100">Send</button>
                </div>
                <div class="d-flex">
                    <p class="text-start">To reset your password you must enter the email associated with your account</p>
                </div>
                <div class="my-4 d-flex align-items-center">
                    <div class="border flex-fill"></div>
                    <p class="mb-0 flex-fill">Alredy have an account?</p>
                    <div class="border flex-fill"></div>
                </div>
                <div>
                    <a href="/login" class="btn btn-outline-dark w-100 btn-change">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--  SweetAlert2 -->
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4@5.0.15/bootstrap-4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.all.min.js"></script>
<!-- My Scripts -->
<script src="./static/js/forgotPassword.js"></script>