<div class="d-flex justify-content-center my-5">
    <div class="card card-forgot">
        <div class="card-body text-center" id="cardForgot">
            <img src="/static/img/coder-icon.png" alt="logo" class="my-3" style="width: 17.5rem;">
            <h3 class="card-title text-body-secondary fw-medium mb-4">Reset Password</h3>
            <form id="formReset">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="resetPassword" placeholder="Password" pattern="^.{6,}$" title="La contraseña requiere de minimo 6 caracteres." required>
                    <label for="resetPassword" class="text-start">Password</label>
                </div>
                <div id="passwordAlert"></div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="confirmPassword" id="resetConfirmpassword" placeholder="Confirm Password" pattern="^.{6,}$" title="La contraseña requiere de minimo 6 caracteres." required>
                    <label for="resetConfirmpassword" class="text-start">Confirm Password</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark w-100">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--  SweetAlert2 -->
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4@5.0.15/bootstrap-4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.all.min.js"></script>
<!-- My Scripts -->
<script src="../static/js/resetPassword.js"></script>