#boxMessages {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#boxMessages::-webkit-scrollbar {
    display: none;
}

.card-login, .card-forgot {
    width: 30rem;
}

#detailTable{
    width: 25rem;
}

@media (max-width: 768px) {
    .card-login, .card-forgot {
        border: none;
    }
}